In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

/kaggle/input/summer-analytics-mid-hackathon/hacktest.csv
/kaggle/input/summer-analytics-mid-hackathon/hacktrain.csv

In [2]:
df = pd.read_csv("/kaggle/input/summer-analytics-mid-hackathon/hacktrain.csv")

In [3]:
df.head()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,water,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,water,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,water,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.88,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,water,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.95,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,water,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.00,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140

In [4]:
df.tail()

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
7995,10537,10538,impervious,1207.70,984.62,NaN,1166.25,937.478,1072.70,823.896,...,1117.740,1176.60,1044.11,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,10538,10539,impervious,2170.35,1419.72,1361.000,1478.71,983.911,1262.11,1422.860,...,984.634,2128.97,1379.66,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,10541,10542,impervious,1895.68,1454.74,NaN,1033.56,1930.380,1057.15,1471.600,...,888.408,2093.02,1232.11,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,10542,10543,impervious,3465.74,1283.32,413.412,4391.05,1146.820,4473.05,1614.750,...,5833.760,4047.32,4515.80,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,10544,10545,impervious,6941.19,1667.87,5084.780,NaN,1588.950,5978.19,NaN,...,7352.570,3289.86,3729.15,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [5]:
df.sample(5)

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
4456,5457,5458,forest,547.732,3910.490,2262.35,656.578,388.789,6284.77,1060.57,...,1149.95,352.749,593.741,1528.640,310.140,724.99,1378.22,5790.41,2766.800,5034.85
4503,5515,5516,forest,7581.230,671.913,2707.29,6141.850,7664.060,7894.88,2043.48,...,7176.12,4571.490,567.589,1072.620,385.230,NaN,NaN,7606.44,539.768,4347.70
2495,3115,3116,forest,7524.060,NaN,8161.16,7856.480,7909.690,8014.17,5130.84,...,7512.34,NaN,3364.790,423.843,2083.510,1274.31,NaN,8125.88,8110.220,4666.86
6180,7528,7529,forest,7628.290,6627.660,723.99,5893.020,5345.290,NaN,NaN,...,7541.01,4873.300,7733.550,3582.270,664.055,3667.25,NaN,7127.01,6566.220,1631.70
4068,4995,4996,forest,7021.280,6848.780,4589.44,4521.350,528.393,7361.81,7034.29,...,1151.50,1026.800,3134.110,4433.640,464.019,NaN,4018.08,6593.50,1191.260,7426.52

In [6]:
df["class"].unique()

array(['water', 'forest', 'impervious', 'farm', 'grass', 'orchard'],
      dtype=object)

In [7]:
from sklearn.preprocessing import LabelEncoder

In [8]:
classes = ["water","forest","impervious","farm","grass","orchard"]

In [9]:
le = LabelEncoder()

In [10]:
df["class"] = le.fit_transform(df["class"])

In [11]:
df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,5,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,5,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,5,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.880,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,5,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.950,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,5,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10537,10538,3,1207.7000,984.620,NaN,1166.25,937.478,1072.700,823.896,...,1117.740,1176.600,1044.110,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,10538,10539,3,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,...,984.634,2128.970,1379.660,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,10541,10542,3,1895.6800,1454.740,NaN,1033.56,1930.380,1057.150,1471.600,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,10542,10543,3,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,10544,10545,3,6941.1900,1667.870,5084.780,NaN,1588.950,5978.190,NaN,...,7352.570,3289.860,3729.150,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [12]:
X = df.drop(columns = "class")
y = df["class"]

In [13]:
df

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,5,637.5950,658.668,-1882.030,-1924.36,997.904,-1739.990,630.087,...,NaN,-1043.160,-1942.490,267.138,NaN,NaN,211.328,-2203.020,-1180.19,433.906
1,1,2,5,634.2400,593.705,-1625.790,-1672.32,914.198,-692.386,707.626,...,NaN,-933.934,-625.385,120.059,364.858,476.972,220.878,-2250.000,-1360.56,524.075
2,3,4,5,58.0174,-1599.160,NaN,-1052.63,NaN,-1564.630,NaN,...,-1025.880,368.622,NaN,-1227.800,304.621,NaN,369.214,-2202.120,NaN,-1343.550
3,4,5,5,72.5180,NaN,380.436,-1256.93,515.805,-1413.180,-802.942,...,-1813.950,155.624,NaN,-924.073,432.150,282.833,298.320,-2197.360,NaN,-826.727
4,7,8,5,1136.4400,NaN,NaN,1647.83,1935.800,NaN,2158.980,...,1535.000,1959.430,-279.317,-384.915,-113.406,1020.720,1660.650,-116.801,-568.05,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10537,10538,3,1207.7000,984.620,NaN,1166.25,937.478,1072.700,823.896,...,1117.740,1176.600,1044.110,NaN,369.082,465.843,362.882,979.795,NaN,433.659
7996,10538,10539,3,2170.3500,1419.720,1361.000,1478.71,983.911,1262.110,1422.860,...,984.634,2128.970,1379.660,NaN,762.633,485.204,446.724,771.747,1589.06,506.936
7997,10541,10542,3,1895.6800,1454.740,NaN,1033.56,1930.380,1057.150,1471.600,...,888.408,2093.020,1232.110,1190.830,1441.460,1170.880,1095.000,1818.650,2501.72,1247.770
7998,10542,10543,3,3465.7400,1283.320,413.412,4391.05,1146.820,4473.050,1614.750,...,5833.760,4047.320,4515.800,433.177,277.296,744.143,NaN,3759.710,NaN,388.346
7999,10544,10545,3,6941.1900,1667.870,5084.780,NaN,1588.950,5978.190,NaN,...,7352.570,3289.860,3729.150,1994.980,NaN,5299.900,NaN,5983.130,1249.71,2424.230

In [14]:
df_0 = df[df["class"] == 0]

In [15]:
df_0

/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1458: RuntimeWarning: invalid value encountered in greater
  has_large_values = (abs_vals > 1e6).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in less
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()
/usr/local/lib/python3.11/dist-packages/pandas/io/formats/format.py:1459: RuntimeWarning: invalid value encountered in greater
  has_small_values = ((abs_vals < 10 ** (-self.digits)) & (abs_vals > 0)).any()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
6274,7650,7651,0,72.2547,-468.917,324.181,NaN,479.369,-1383.12,NaN,...,-807.164,NaN,-941.968,NaN,353.466,387.891,482.752,-1473.350,483.445,-1466.100
6275,7651,7652,0,-318.7980,-1097.910,300.552,NaN,508.487,-1809.25,-1574.970,...,-1520.360,-300.1030,-2223.040,-958.382,383.906,NaN,385.471,-1330.600,430.044,-1398.700
6276,7652,7653,0,0.0000,-651.520,310.689,-236.591,511.714,NaN,-1504.050,...,-386.875,-27.1213,NaN,426.153,388.168,340.702,NaN,-694.927,340.857,-1147.630
6301,7689,7690,0,4393.8300,3802.370,3163.380,NaN,1062.940,7772.05,1249.810,...,1679.270,2265.1500,3663.370,2978.950,2756.090,NaN,1102.680,NaN,NaN,2047.010
6302,7691,7692,0,2418.1500,4219.120,3139.140,5946.050,4055.820,7300.37,3515.350,...,1738.350,3661.1700,4803.670,3838.400,2341.490,5577.290,1861.240,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7816,10161,10162,0,3809.0300,NaN,NaN,1222.580,350.772,5012.63,305.665,...,2830.870,4718.7600,590.114,NaN,425.434,376.317,529.946,3233.320,753.589,4984.420
7977,10515,10516,0,7428.5000,4676.520,2444.440,1536.750,4872.430,5376.42,3270.460,...,2715.490,NaN,1628.140,1089.960,645.514,827.615,2502.190,3717.480,3846.540,4501.190
7983,10522,10523,0,3264.4900,3520.610,NaN,3107.020,2966.740,3666.57,2849.920,...,1298.310,2930.4200,3376.930,588.063,387.505,514.890,313.725,3152.590,2954.690,380.791
7993,10535,10536,0,5423.9800,7099.910,221.613,7762.590,687.767,4017.67,NaN,...,NaN,4660.1100,7033.530,6395.560,1000.810,501.696,1253.300,5077.750,962.179,4043.180
7994,10536,10537,0,6515.0600,7099.720,412.370,5435.500,786.274,1616.44,6578.240,...,5140.960,4194.0100,3818.630,5880.900,NaN,525.751,1259.760,7173.860,999.734,7250.200

In [16]:
df.isna()

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,True,False,True,False,True,...,False,False,True,False,False,True,False,False,True,False
3,False,False,False,False,True,False,False,False,False,False,...,False,False,True,False,False,False,False,False,True,False
4,False,False,False,False,True,True,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,False,False,False,False,False,True,False,False,False,False,...,False,False,False,True,False,False,False,False,True,False
7996,False,False,False,False,False,False,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
7997,False,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7998,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,True,False
7999,False,False,False,False,False,False,True,False,False,True,...,False,False,False,False,True,False,True,False,False,False

In [17]:

df.fillna(df.mean(numeric_only=True), inplace=True)

In [18]:
df

,Unnamed: 0,ID,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,5,637.5950,658.668000,-1882.030000,-1924.360000,997.904000,-1739.990000,630.087000,...,4872.68167,-1043.160,-1942.490000,267.138000,2041.316792,2799.820342,211.328000,-2203.020,-1180.190000,433.906
1,1,2,5,634.2400,593.705000,-1625.790000,-1672.320000,914.198000,-692.386000,707.626000,...,4872.68167,-933.934,-625.385000,120.059000,364.858000,476.972000,220.878000,-2250.000,-1360.560000,524.075
2,3,4,5,58.0174,-1599.160000,4469.837748,-1052.630000,2927.586705,-1564.630000,3313.881373,...,-1025.88000,368.622,3012.178524,-1227.800000,304.621000,2799.820342,369.214000,-2202.120,2629.203972,-1343.550
3,4,5,5,72.5180,4868.091395,380.436000,-1256.930000,515.805000,-1413.180000,-802.942000,...,-1813.95000,155.624,3012.178524,-924.073000,432.150000,282.833000,298.320000,-2197.360,2629.203972,-826.727
4,7,8,5,1136.4400,4868.091395,4469.837748,1647.830000,1935.800000,4924.493648,2158.980000,...,1535.00000,1959.430,-279.317000,-384.915000,-113.406000,1020.720000,1660.650000,-116.801,-568.050000,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,10537,10538,3,1207.7000,984.620000,4469.837748,1166.250000,937.478000,1072.700000,823.896000,...,1117.74000,1176.600,1044.110000,3055.167358,369.082000,465.843000,362.882000,979.795,2629.203972,433.659
7996,10538,10539,3,2170.3500,1419.720000,1361.000000,1478.710000,983.911000,1262.110000,1422.860000,...,984.63400,2128.970,1379.660000,3055.167358,762.633000,485.204000,446.724000,771.747,1589.060000,506.936
7997,10541,10542,3,1895.6800,1454.740000,4469.837748,1033.560000,1930.380000,1057.150000,1471.600000,...,888.40800,2093.020,1232.110000,1190.830000,1441.460000,1170.880000,1095.000000,1818.650,2501.720000,1247.770
7998,10542,10543,3,3465.7400,1283.320000,413.412000,4391.050000,1146.820000,4473.050000,1614.750000,...,5833.76000,4047.320,4515.800000,433.177000,277.296000,744.143000,2144.360224,3759.710,2629.203972,388.346
7999,10544,10545,3,6941.1900,1667.870000,5084.780000,5193.485086,1588.950000,5978.190000,3313.881373,...,7352.57000,3289.860,3729.150000,1994.980000,2041.316792,5299.900000,2144.360224,5983.130,1249.710000,2424.230

In [19]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
df= df.drop(columns = ["Unnamed: 0","ID"])

In [20]:
df.isna().sum()

class         0
20150720_N    0
20150602_N    0
20150517_N    0
20150501_N    0
20150415_N    0
20150330_N    0
20150314_N    0
20150226_N    0
20150210_N    0
20150125_N    0
20150109_N    0
20141117_N    0
20141101_N    0
20141016_N    0
20140930_N    0
20140813_N    0
20140626_N    0
20140610_N    0
20140525_N    0
20140509_N    0
20140423_N    0
20140407_N    0
20140322_N    0
20140218_N    0
20140202_N    0
20140117_N    0
20140101_N    0
dtype: int64

In [21]:
df

,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,5,637.5950,658.668000,-1882.030000,-1924.360000,997.904000,-1739.990000,630.087000,4987.520158,-1325.640000,...,4872.68167,-1043.160,-1942.490000,267.138000,2041.316792,2799.820342,211.328000,-2203.020,-1180.190000,433.906
1,5,634.2400,593.705000,-1625.790000,-1672.320000,914.198000,-692.386000,707.626000,-1670.590000,-1408.640000,...,4872.68167,-933.934,-625.385000,120.059000,364.858000,476.972000,220.878000,-2250.000,-1360.560000,524.075
2,5,58.0174,-1599.160000,4469.837748,-1052.630000,2927.586705,-1564.630000,3313.881373,729.790000,-3162.140000,...,-1025.88000,368.622,3012.178524,-1227.800000,304.621000,2799.820342,369.214000,-2202.120,2629.203972,-1343.550
3,5,72.5180,4868.091395,380.436000,-1256.930000,515.805000,-1413.180000,-802.942000,683.254000,-2829.400000,...,-1813.95000,155.624,3012.178524,-924.073000,432.150000,282.833000,298.320000,-2197.360,2629.203972,-826.727
4,5,1136.4400,4868.091395,4469.837748,1647.830000,1935.800000,4924.493648,2158.980000,4987.520158,1242.870000,...,1535.00000,1959.430,-279.317000,-384.915000,-113.406000,1020.720000,1660.650000,-116.801,-568.050000,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,3,1207.7000,984.620000,4469.837748,1166.250000,937.478000,1072.700000,823.896000,943.698000,944.619000,...,1117.74000,1176.600,1044.110000,3055.167358,369.082000,465.843000,362.882000,979.795,2629.203972,433.659
7996,3,2170.3500,1419.720000,1361.000000,1478.710000,983.911000,1262.110000,1422.860000,1401.970000,1372.680000,...,984.63400,2128.970,1379.660000,3055.167358,762.633000,485.204000,446.724000,771.747,1589.060000,506.936
7997,3,1895.6800,1454.740000,4469.837748,1033.560000,1930.380000,1057.150000,1471.600000,4987.520158,2693.630000,...,888.40800,2093.020,1232.110000,1190.830000,1441.460000,1170.880000,1095.000000,1818.650,2501.720000,1247.770
7998,3,3465.7400,1283.320000,413.412000,4391.050000,1146.820000,4473.050000,1614.750000,770.469000,4320.961814,...,5833.76000,4047.320,4515.800000,433.177000,277.296000,744.143000,2144.360224,3759.710,2629.203972,388.346
7999,3,6941.1900,1667.870000,5084.780000,5193.485086,1588.950000,5978.190000,3313.881373,3068.030000,6471.470000,...,7352.57000,3289.860,3729.150000,1994.980000,2041.316792,5299.900000,2144.360224,5983.130,1249.710000,2424.230

In [22]:
X = df.drop(columns = ["class"])
y = df["class"]
df

,class,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,20150210_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,5,637.5950,658.668000,-1882.030000,-1924.360000,997.904000,-1739.990000,630.087000,4987.520158,-1325.640000,...,4872.68167,-1043.160,-1942.490000,267.138000,2041.316792,2799.820342,211.328000,-2203.020,-1180.190000,433.906
1,5,634.2400,593.705000,-1625.790000,-1672.320000,914.198000,-692.386000,707.626000,-1670.590000,-1408.640000,...,4872.68167,-933.934,-625.385000,120.059000,364.858000,476.972000,220.878000,-2250.000,-1360.560000,524.075
2,5,58.0174,-1599.160000,4469.837748,-1052.630000,2927.586705,-1564.630000,3313.881373,729.790000,-3162.140000,...,-1025.88000,368.622,3012.178524,-1227.800000,304.621000,2799.820342,369.214000,-2202.120,2629.203972,-1343.550
3,5,72.5180,4868.091395,380.436000,-1256.930000,515.805000,-1413.180000,-802.942000,683.254000,-2829.400000,...,-1813.95000,155.624,3012.178524,-924.073000,432.150000,282.833000,298.320000,-2197.360,2629.203972,-826.727
4,5,1136.4400,4868.091395,4469.837748,1647.830000,1935.800000,4924.493648,2158.980000,4987.520158,1242.870000,...,1535.00000,1959.430,-279.317000,-384.915000,-113.406000,1020.720000,1660.650000,-116.801,-568.050000,-1357.140
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7995,3,1207.7000,984.620000,4469.837748,1166.250000,937.478000,1072.700000,823.896000,943.698000,944.619000,...,1117.74000,1176.600,1044.110000,3055.167358,369.082000,465.843000,362.882000,979.795,2629.203972,433.659
7996,3,2170.3500,1419.720000,1361.000000,1478.710000,983.911000,1262.110000,1422.860000,1401.970000,1372.680000,...,984.63400,2128.970,1379.660000,3055.167358,762.633000,485.204000,446.724000,771.747,1589.060000,506.936
7997,3,1895.6800,1454.740000,4469.837748,1033.560000,1930.380000,1057.150000,1471.600000,4987.520158,2693.630000,...,888.40800,2093.020,1232.110000,1190.830000,1441.460000,1170.880000,1095.000000,1818.650,2501.720000,1247.770
7998,3,3465.7400,1283.320000,413.412000,4391.050000,1146.820000,4473.050000,1614.750000,770.469000,4320.961814,...,5833.76000,4047.320,4515.800000,433.177000,277.296000,744.143000,2144.360224,3759.710,2629.203972,388.346
7999,3,6941.1900,1667.870000,5084.780000,5193.485086,1588.950000,5978.190000,3313.881373,3068.030000,6471.470000,...,7352.57000,3289.860,3729.150000,1994.980000,2041.316792,5299.900000,2144.360224,5983.130,1249.710000,2424.230

In [23]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size = 0.8, random_state =1, stratify = y)

In [24]:
model = LogisticRegression(multi_class = "multinomial", solver ="lbfgs", max_iter = 10000)

In [25]:
model.fit(X_train,y_train)

LogisticRegression(max_iter=10000, multi_class='multinomial')

In [26]:
y_pred = model.predict(X_test)

In [27]:
y_pred

array([1, 1, 1, ..., 0, 1, 1])

In [28]:
model.score

In [29]:
from sklearn.metrics import accuracy_score
accuracy = accuracy_score(y_test,y_pred)

In [30]:
accuracy

0.87875

In [31]:
test_data = pd.read_csv("/kaggle/input/summer-analytics-mid-hackathon/hacktest.csv")

In [32]:
test_data

,Unnamed: 0,ID,20150720_N,20150602_N,20150517_N,20150501_N,20150415_N,20150330_N,20150314_N,20150226_N,...,20140610_N,20140525_N,20140509_N,20140423_N,20140407_N,20140322_N,20140218_N,20140202_N,20140117_N,20140101_N
0,0,1,7466.4200,413.162,5761.000,5625.45,489.4030,3923.84,3097.110,6766.42000,...,801.184,927.115,4704.14,6378.42,340.949,2695.5700,527.268,4736.75,601.843,6639.760
1,1,2,7235.2600,6037.350,1027.560,6085.14,1618.0500,6668.54,2513.990,1051.69000,...,5533.470,5103.040,5216.12,4885.27,4366.790,1234.1400,3298.110,6942.68,1070.440,842.101
2,2,3,7425.0800,6969.980,1177.940,7408.93,861.0610,7644.43,814.458,1504.29000,...,1981.390,6204.540,7021.69,5704.41,4897.450,1789.9900,2206.100,6928.93,1036.560,831.441
3,3,4,7119.1200,1731.620,6311.930,6441.61,465.9790,7128.42,1649.120,6935.22000,...,959.344,5794.150,1045.57,5572.90,586.287,685.9060,1287.000,6734.72,824.584,6883.610
4,4,5,7519.5500,8130.260,1482.540,7879.53,1001.2100,7937.60,4122.530,1094.51000,...,7636.070,6996.760,7413.43,4596.13,4511.700,1413.5200,3283.940,7937.68,1857.800,1336.920
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2840,2840,2841,-1673.7400,-2514.480,-2451.190,-2738.44,64.4464,-2275.03,-2881.100,-4738.97000,...,-2257.890,-2582.420,-1699.10,-2295.30,306.483,209.4030,221.920,-4885.15,-2630.590,356.233
2841,2841,2842,-96.8233,-412.727,-1795.400,-2363.82,-2168.1900,-2162.68,-3155.740,-4416.11000,...,-3991.910,-2614.910,-2109.84,-2687.18,-2853.890,71.3402,-86.414,-5109.01,324.637,-4316.580
2842,2842,2843,-2364.6000,-155.592,-1422.090,-1713.40,465.6220,-2230.40,-3088.730,-5010.32000,...,-2484.500,-1756.080,-3820.43,-1988.23,433.852,291.8000,254.548,-4259.30,412.115,-1170.750
2843,2843,2844,-3004.6300,-1217.120,180.122,-1113.89,438.4180,-2442.51,-3210.560,-3237.74000,...,-3291.490,-2018.450,-3472.65,-3109.07,511.792,369.0970,276.948,-5574.51,298.739,460.419
2844,2844,2845,-2975.1000,-1129.790,463.748,-5355.40,193.5110,-2590.16,-3113.520,-2.38883,...,-3058.230,-2276.180,-3335.00,-2929.19,-1007.500,271.0580,307.997,-5453.33,307.495,417.124

In [33]:
ID = test_data["ID"]
test_data.drop(columns = ["ID", "Unnamed: 0"], inplace = True)

In [34]:

y_test = model.predict(test_data)

In [35]:
y_test

array([4, 1, 4, ..., 5, 3, 3])

In [36]:
y_decoded = le.inverse_transform(y_test)

In [37]:
y_decoded

array(['orchard', 'forest', 'orchard', ..., 'water', 'impervious',
       'impervious'], dtype=object)

In [38]:

result  = pd.DataFrame({
    "ID" : ID,
    
    "class" : y_decoded
})

In [39]:
result

        ID       class
0        1     orchard
1        2      forest
2        3     orchard
3        4      forest
4        5      forest
...    ...         ...
2840  2841  impervious
2841  2842  impervious
2842  2843       water
2843  2844  impervious
2844  2845  impervious

[2845 rows x 2 columns]

In [40]:
result.to_csv("submission.csv",index = False)